@charset "UTF-8";

/* ---------------------- COLORS CODE ---------------------- */

:root {
    --MediumBlue: #1E26BF;
    --HotPink: #FF6DAF;
    --HoneyYellow: #FFB500;
    --RussianViolet: #2C064B;
    --MidnightBlue: #181168;
    --VioletCrayola: #963A7D;

    --BGOnix: #404040;
    --BGGrayWeb: #808080;
    --BGSilver: #C0C0C0;
}

/* Gerais */
::-webkit-scrollbar {
    display: none;
}

/* ----- Typography ----- */

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: var(--BGOnix);
    color: var(--RussianViolet);
}

.shadow2 {
    /* Shadow 6dp elevation */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button {
    border-radius: 15px;
    color: #1E26BF;
    font-family: "Source Sans Pro", sans-serif;
}

.minHeight {
    min-height: 200px;
}

/* Access Area */
body .access {
    background-color: var(--BGOnix);
}

.access .card {
    max-width: 500px;
    margin: auto;
    border-radius: 1rem;
    background-color: var(--BGSilver);
}

.logo-header {
    padding: 15px;
}

#btnLogin {
    border-radius: 1rem;
    padding: 10px 30px;
    border: none;
    background-color: var(--RussianViolet);
    color: var(--BGSilver);
}

.access h1 {
    text-align: center;
    font-size: 50px;
}

.form-group {
    font-size: 30px;
}

.form-group i {
    vertical-align: bottom;
}

.login-link {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 30px 0;
    border: 2px solid var(--BGSilver);
    border-radius: 1rem;
}

.login-link p {
    margin: 0;
    text-align: center;
}
