@charset "UTF-8";

/*---------------------- COLORS CODE ----------------------*/

:root {
    --MediumBlue: #1E26BF;
    --HotPink: #FF6DAF;
    --HoneyYellow: #FFB500;
    --RussianViolet: #2C064B;
    --MidnightBlue: #181168;
    --VioletCrayola: #963A7D;

    --BGOnix: #404040;
    --BGGrayWeb: #808080;
    --BGSilver: #C0C0C0;
}

/* Gerais */
::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(#2c064b 40%, #FF6DAF 100%) no-repeat;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.row {
    margin: 0;
}

h1 {
    color: var(--BGSilver);
    font-size: 36px;
}

p, li {
    color: #2C064B;
    font-size: 14px;
}

.padding {
    margin: 70px 0;
}

/* Barra de Navegação */
header, .navbar {
    background-color: #404040;
    min-height: 91px;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: var(--BGSilver);
}

.navbar-brand:hover {
    color: var(--BGSilver);
}

#navbar-links a {
    color: var(--BGSilver);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

#main-logo:hover {
    position: absolute;
    width: 85px;
}

section {
    margin-bottom: 100px;
}

/* Home Page */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/lisboa.png") 0 25% no-repeat;
    height: 600px;
}

.header#rest {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    padding-top: 125px;
}

.bg-cover#rest {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/restaurante_banner.jpg") 0 25% no-repeat;
    background-size: cover;
}

.slogan > h1 {
    font-size: 60px;
    color: var(--HoneyYellow);
    font-family: 'Dancing Script', cursive;
}

#rest h1, h2 {
    color: var(--HoneyYellow);
}

#rest h1 {
    font-size: 5em;
}

.curve-divider.inverted {
    background-image: radial-gradient(75% 100% at top, transparent calc(100% - 3px), var(--RussianViolet));
    height: 25vw;
    margin-top: -25vw;
}

.curve-divider {
    height: 5vw;
    min-height: 5vh;
    overflow: hidden;
}

.cardtype {
    width: 325px;
    height: 500px;
    border: none;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 100px;
}

.cardtype > img {
    border-radius: 15px;
}

.cardtype > div {
    top: initial;
}

.cardtype h2 {
    color: var(--BGSilver);
    font-size: 36px;
    vertical-align: bottom;
}

footer {
    background-color: #404040;
    height: 360px;
    border-radius: 100px 100px 0 0;
}

footer img {
    padding-top: 40px;
    padding-bottom: 20px;
}

footer h2 {
    font-family: 'Dancing Script', cursive;
    color: var(--HoneyYellow);
    font-size: 36px;
}

footer p {
    color: var(--BGSilver);
}

.fi-br-envelope {
    vertical-align: sub;
    color: var(--HoneyYellow);
}

.footer-curve-divider {
    height: 50px;
    margin-top: 80px;
}

.footer-curve-divider > div {
    background: radial-gradient(75% 100% at bottom, var(--BGOnix) calc(100% - 3px), transparent);
}

.footer-curve-divider > div, .curve-divider > div {
    height: 375%;
}

/* Slider */
.slider {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 500px;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
}

.carousel-indicators .active {
    background-color: var(--RussianViolet);
}

/* List Area */
#list-area .card {
    background-color: var(--BGSilver);
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

#list-area .card-img {
    height: 200px;
}

#list-area img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#list-area h3 {
    color: var(--RussianViolet);
    font-size: 36px;
    margin: 0 0 30px 0;
}

#list-area h3::after {
    content: "";
    border-top: 5px solid var(--HotPink);
    border-radius: 15px;
    width: 88%;
    position: absolute;
    top: 70px;
    left: 6%;
}

#list-area .spot-info {
    display: flex;
    justify-content: space-between;
}

#list-area h4 {
    color: var(--RussianViolet);
    margin: 20px 0 15px 0;
}

#list-area p {
    font-size: 16px;
    margin-bottom: 5px;
}

#list-area i {
    color: var(--HoneyYellow);
    font-size: 18px;
}

#mostrar-mais {
    padding: 80px 0 0 0;
}

#mostrar-mais button{
    background-color: var(--RussianViolet);
    color: var(--BGSilver);
    border: 2px solid var(--RussianViolet);
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 35px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#mostrar-mais button:hover{
    background-color: transparent;
    color: var(--RussianViolet);
    border: 2px solid var(--RussianViolet);
}
