@charset "UTF-8";

/*---------------------- COLORS CODE ----------------------*/

:root {
    --MediumBlue: #1E26BF;
    --HotPink: #FF6DAF;
    --HoneyYellow: #FFB500;
    --RussianViolet: #2C064B;
    --MidnightBlue: #181168;
    --VioletCrayola: #963A7D;

    --BGOnix: #404040;
    --BGGrayWeb: #808080;
    --BGSilver: #C0C0C0;
}

/* Gerais */
body {
    background: linear-gradient(#2c064b 40%, #FF6DAF 100%) no-repeat;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.row {
    margin: 0;
}

h1 {
    color: var(--BGSilver);
    font-size: 36px;
}

p, li {
    color: #2C064B;
    font-size: 14px;
}

.padding {
    margin: 70px 0;
}

/* Barra de Navegação */
header, .navbar {
    background-color: #404040;
    min-height: 91px;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: var(--BGSilver);
}

.navbar-brand:hover {
    color: var(--BGSilver);
}

#navbar-links a {
    color: var(--BGSilver);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

#main-logo:hover {
    position: absolute;
    width: 85px;
}

/* Home Page */
.header {
    background-image: url("../img/lisboa.png");
    min-height: 600px;
}

.header img {
    padding-top: 125px;
}

.bg-cover {
    background-size: cover;
    background-position: 0 25%;
    background-repeat: no-repeat;
}

.slogan > h1{
    font-size: 60px;
    color: var(--HoneyYellow);
    font-family: 'Dancing Script', cursive;
}

.curve-divider.inverted {
    background-image: radial-gradient(75% 100% at top, transparent calc(100% - 3px), var(--RussianViolet));
    height: 25vw;
    margin-top: -25vw;
}

.curve-divider {
    height: 5vw;
    min-height: 5vh;
    overflow: hidden;
}

.cardtype {
    width: 325px;
    height: 500px;
    border: none;
    background: transparent;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cardtype > img {
    border-radius: 15px;
}

footer {
    background-color: #404040;
    height: 360px;
    //border-radius: 100px 100px 0 0;
}

footer img {
    padding-top: 40px;
    padding-bottom: 20px;
}

footer h2 {
    font-family: 'Dancing Script', cursive;
    color: var(--HoneyYellow);
    font-size: 36px;
}

footer p {
    color: var(--BGSilver);
}

.fi-br-envelope {
    vertical-align: sub;
    color: var(--HoneyYellow);
}

.footer-curve-divider {
    height: 50px;
    margin-top: 150px;
}

.footer-curve-divider > div {
    background: radial-gradient(75% 100% at bottom, var(--BGOnix) calc(100% - 3px), transparent);
}

.footer-curve-divider > div, .curve-divider > div {
    height: 375%;
}

/* Slider */
.slider {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 500px;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
}

.carousel-indicators .active {
    background-color: var(--RussianViolet);
}
